
<div class="container max-w-4xl mx-auto">
    <a href="/" class="mb-3 block text-sm">Back to all products</a>

    <div class="grid grid-cols-2 gap-5">
        <div class="grid-cell">
            {{ featured_image }}
            <img src="{{ url }}" alt="{{ alt }}">
            {{ /featured_image }}
        </div>

        <div class="grid-cell">
            <h1 class="text-2xl mb-4 font-bold">{{ title }}</h1>
            <div class="rte mb-4">{{ content }}</div>

            <form action="" name="" id="ss-product-add-form">
                <input type="hidden" name="product_id" id="ss-product-id" value="{{ product_id }}" />

                {{ product_variants :product="slug" currency="£" }}

                <input type="number" min="1" value="1" id="ss-product-qty" class="p-2 w-20 border" />
                <button type="submit" class="bg-green-500 py-2 px-4 text-white rounded">Add to Cart</button>
            </form>
        </div>
    </div>
</div>

