name: Generate Docs
on:
  release:
  workflow_dispatch:
env:
  VERCEL_ORG_ID: ${{ secrets.VERCEL_ORG_ID }}
  VERCEL_PROJECT_ID: ${{ secrets.VERCEL_PROJECT_ID }}
jobs:
  preview:
    runs-on: ubuntu-latest
    environment:
      name: production
    env:
      working-directory: docs
    steps:
     # Check out master branch
      - name: Checkout
        uses: actions/checkout@master

      # Downloads, configures and caches Node.js
      - name: Setup node env
        uses: actions/setup-node@v3
        with:
          node-version: 16

      # Install all dependencies needed to build our documentation
      - name: Install dependencies
        working-directory: ${{env.working-directory}}
        run: yarn

      # Generate the docs
      - name: Generate dist folder
        working-directory: ${{env.working-directory}}
        run: yarn nuxt generate

      # Pull vercel project info
      - name: Vercel pull
        working-directory: ${{env.working-directory}}
        run: yarn vercel pull --yes --environment=production --token=${{ secrets.VERCEL_TOKEN }}

      # Build for vercel output
      - name: Vercel build
        working-directory: ${{env.working-directory}}
        run: yarn vercel build --environment=production --token=${{ secrets.VERCEL_TOKEN }}

      # Deploy to vercel
      - name: Vercel deploy
        working-directory: ${{env.working-directory}}
        id: deploy
        run: yarn vercel deploy --prebuilt --token=${{ secrets.VERCEL_TOKEN }} --prod
